<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyue.boss.api.mapper.AppMapper" >

    <!-- 获取版本列表 -->
    <select id="getVersionList" resultType="com.yuyue.boss.api.domain.AppVersion" parameterType="String">
        SELECT b.id appVersionId, b.system_type systemType,b.version_no versionNo,b.update_user updateUser,
               b.status,b.number,b.program_description programDescription,
        DATE_FORMAT(b.UPDATE_TIME ,'%Y-%m-%d %H:%i:%s') updateTime,
        DATE_FORMAT(b.CREATE_TIME ,'%Y-%m-%d %H:%i:%s') createTime
        from yuyue_app_version b where 1=1
        <if test="versionNo!=null and versionNo!=''">and b.version_no like concat('%', #{versionNo}, '%') </if>
        <if test="systemType!=null and systemType!='' ">  and b.`system_type` = #{systemType}  </if>
        <if test="appVersionId!=null and appVersionId!='' ">  and b.id = #{appVersionId}  </if>
        order by b.number
    </select>

    <!-- 修改版本 -->
    <update id="updateAppVersion" parameterType="String">
        UPDATE yuyue_app_version b
        <set>
            <if test="versionNo!=null and versionNo!=''">
                b.version_no = #{versionNo},
            </if>
            <if test="systemType!=null and systemType!=''">
                b.system_type = #{systemType},
            </if>
            <if test="programDescription!=null and programDescription!=''">
                b.program_description = #{programDescription},
            </if>
            <if test="status!=null and status!=''">
                b.status = #{status},
            </if>
        </set>
        WHERE 1=1
        <if test="appVersionId!=null and appVersionId!=''">
            and b.id = #{appVersionId}
        </if>
    </update>

    <!--获取APP菜单列表-->
    <select id="getAPPMenuList" resultType="com.yuyue.boss.api.domain.VideoCategory" parameterType="String">
        SELECT d.id,d.category ,DATE_FORMAT(d.upload_time ,'%Y-%m-%d %H:%i:%s') uploadTime,d.url,d.description,
               d.category_no categoryNo,d.`status`
        FROM yuyue_category d
        where 1=1 /*`status` = '10B' */
        <if test=" status !=null and status!='' ">  and d.`status` = #{status}  </if>
        <if test=" id !=null and id!='' ">  and d.`id` = #{id}  </if>
        <if test=" number!=0 ">  and d.`category_no` = #{number}  </if>
        <if test=" category !=null and category!='' ">  and d.category like concat('%', #{category}, '%')  </if>
        ORDER BY category_no
    </select>

    <!-- 修改APP菜单 -->
    <update id="updateAPPMenu" parameterType="String">
        UPDATE yuyue_category b
        <set>
            <if test="category!=null and category!=''">
                b.category = #{category},
            </if>
            <if test="status!=null and status!=''">
                b.status = #{status},
            </if>
            <if test=" sort!=0 ">
                b.category_no = #{sort},
            </if>
            <if test="url!=null and url!=''">
                b.url = #{url},
            </if>
        </set>
        WHERE 1=1
        <if test="id!=null and id!=''">
            and b.id = #{id}
        </if>
    </update>

    <!--获取APP轮播图列表-->
    <select id="getBannerList" resultType="com.yuyue.boss.api.domain.Banner" parameterType="String">
        SELECT b.id,b.name,b.url,b.description,b.status,b.sort,
               DATE_FORMAT(b.uploadTime ,'%Y-%m-%d %H:%i:%s') uploadTime,
               DATE_FORMAT(b.createTime,'%Y-%m-%d %H:%i:%s') createTime
        FROM yuyue_banner b
        where 1=1
        <if test=" status !=null and status!='' ">  and b.`status` = #{status}  </if>
        <if test=" id !=null and id!='' ">  and b.`id` = #{id}  </if>
        <if test=" sort!=0 ">  and b.sort = #{sort}  </if>
        <if test=" name !=null and name!='' ">  and b.name like concat('%', #{name}, '%')  </if>
        ORDER BY b.sort
    </select>

    <!-- 修改APP轮播图 -->
    <update id="updateBanner" parameterType="String">
        UPDATE yuyue_banner b
        <set>
            <if test="name!=null and name!=''">
                b.name = #{name},
            </if>
            <if test="status!=null and status!=''">
                b.status = #{status},
            </if>
            <if test=" sort!=0 ">
                b.sort = #{sort},
            </if>
            <if test="url!=null and url!=''">
                b.url = #{url},
            </if>
        </set>
        WHERE 1=1
        <if test="id!=null and id!=''">
            and b.id = #{id}
        </if>
    </update>

</mapper>