<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyue.boss.api.mapper.ArtistReviewMapper" >
    <resultMap type="com.yuyue.boss.api.domain.ArtistReview" id="ArtistReview">
        <id column="id" property="id"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="userId" property="userId"/>
        <result column="teamName" property="teamName"/>
        <result column="size" property="size"/>
        <result column="address" property="address"/>
        <result column="cardZUrl" property="cardZUrl"/>
        <result column="cardFUrl" property="cardFUrl"/>
        <result column="categoryId" property="categoryId"/>
        <result column="description" property="description"/>
        <result column="phone" property="phone"/>
        <result column="videoAddress" property="videoAddress"/>
        <result column="mail" property="mail"/>
        <result column="weChat" property="weChat"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="searchArtistReviewList" resultMap="ArtistReview" parameterType="com.yuyue.boss.api.domain.ArtistReview">
        select  *
        from yuyue_show_name
        WHERE  1=1

        <if test="id != null and id != '' ">
            and   id = #{id}
        </if>

        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            and   CREATE_TIME  between  #{startDate} and #{endDate}
        </if>

        <if test="userId != null and userId != '' ">
            and   userId = #{userId}
        </if>

        <if test="teamName != null and teamName != ''">
            and CONCAT(teamName) like concat('%', #{teamName}, '%')
        </if>

        <if test="size != null and size != ''">
            and size = #{size}
        </if>

        <if test="address != null and address != ''">
            and CONCAT(address) like concat('%', #{address}, '%')
        </if>

        <if test="categoryId != null and categoryId != '' ">
            and   categoryId = #{categoryId}
        </if>

        <if test="description != null and description != ''">
            and CONCAT(description) like concat('%', #{description}, '%')
        </if>

        <if test="phone != null and phone != ''">
            and   phone = #{phone}
        </if>

        <if test="videoAddress != null and videoAddress != ''">
            and CONCAT(videoAddress) like concat('%', #{videoAddress}, '%')
        </if>

        <if test="mail != null and mail != ''">
            and CONCAT(mail) like concat('%', #{mail}, '%')
        </if>

        <if test="weChat != null and weChat != ''">
            and   weChat = #{weChat}
        </if>
        <if test="status != null and status != ''">
            and   status = #{status}
        </if>



        ORDER BY CREATE_TIME DESC

    </select>

    <select id="getArtistReviewList" resultMap = "ArtistReview">
        SELECT * FROM yuyue_show_name
    </select>


    <update id="updateArtistReviewStatus"  parameterType="String">
        UPDATE yuyue_show_name
        set
        <if test="status != null and status != ''">
            status= #{status},
        </if>
        id = #{id}

        WHERE id=#{id};
    </update>
</mapper>