<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyue.boss.api.mapper.CommodityMapper">

        <!-- 定义结果集，column表示sql查询列,property表示映射到实体的属性 -->
        <resultMap type="com.yuyue.boss.api.domain.Commodity" id="myCommodity">
            <id column="COMMODITY_ID" property="commodityId"/>
            <id column="ORDER_ID" property="orderId"/>
            <result column="CATEGORY" property="category"/>
            <result column="COMMODITY_NAME" property="commodityName"/>
            <result column="AD_WORD" property="adWord"/>
            <result column="AD_IMAGE_URL" property="adImageUrl"/>
            <result column="COMMODITY_PRICE" property="commodityPrice"/>
            <result column="PAY_URL" property="payUrl"/>
            <result column="ADDR" property="addr"/>
            <result column="SPOKESPERSON_ID" property="spokesPersonId"/>
            <result column="MERCHANT_ID" property="merchantId"/>
            <result column="APPLICATION_DATE" property="applicationTime"/>
            <result column="START_DATE" property="startDate"/>
            <result column="END_DATE" property="endDate"/>
            <result column="STATUS" property="status"/>
          <association property="adPrice" javaType="com.yuyue.boss.api.domain.AdPrice">
                <!-- 关联条件Employee的dept_id对应着Department的id -->
                <id column="ID" property="priceId"/>
                <result column="AD_DURATION" property="adDuration"/>
                <result column="AD_TOTAL_PRICE" property="adTotalPrice"/>
                <result column="AD_DISCOUNT" property="adDiscount"/>
                <result column="CREATE_TIME" property="createTime"/>
            </association>
        </resultMap>
    <select id="getCommodityInfo" parameterType="String" resultMap="myCommodity">
        SELECT
        c.COMMODITY_ID ,
        c.ORDER_ID,
        c.PRICE_ID ,
        c.CATEGORY ,
        c.COMMODITY_NAME ,
        c.AD_WORD ,
        c.AD_IMAGE_URL ,
        c.COMMODITY_PRICE ,
        c.PAY_URL ,
        c.ADDR ,
        c.SPOKESPERSON_ID ,
        c.MERCHANT_ID ,
        c.VIDEO_ID,
       /* c.APPLICATION_DATE,
        c.START_DATE ,
        c.END_DATE ,*/
        DATE_FORMAT(c.APPLICATION_DATE ,'%Y-%m-%d %H:%i:%s') APPLICATION_DATE,
        DATE_FORMAT(c.START_DATE ,'%Y-%m-%d %H:%i:%s') START_DATE ,
        DATE_FORMAT(c.END_DATE ,'%Y-%m-%d %H:%i:%s') END_DATE ,
        c.STATUS ,
        p.ID ,
        p.AD_DURATION ,
        p.AD_TOTAL_PRICE ,
        p.AD_DISCOUNT ,
        DATE_FORMAT(p.CREATE_TIME ,'%Y-%m-%d %H:%i:%s') CREATE_TIME

        FROM yuyue_commodity   c
        LEFT join yuyue_commodity_price p on c.PRICE_ID = p.ID
        where 1=1
        <if test="commodityId != null and commodityId != ''">
            and   COMMODITY_ID = #{commodityId}
        </if>

        <if test="commodityName != null and commodityName != ''">
            and   COMMODITY_NAME = #{commodityName}
        </if>

        <if test="category != null and category != ''">
            and  CATEGORY = #{category}
        </if>
        <if test="status != null and status != ''">
            and  STATUS = #{status}
        </if>
        <if test="startTime != null and endTime != ''">
            and APPLICATION_DATE  &gt; #{startTime}  and APPLICATION_DATE num <![CDATA[ < ]]> #{endTime}/*and to_days(NOW()) &lt; to_days(END_DATE)*/
        </if>
        ORDER BY   c.APPLICATION_DATE DESC

    </select>

    <update id="updateCommodityInfo" parameterType="com.yuyue.boss.api.domain.Commodity" >
        UPDATE yuyue_commodity
        SET

        <if test="category != null and category != ''">
            CATEGORY = #{category},
        </if>

        <if test="commodityName != null and commodityName != ''">
            COMMODITY_NAME = #{commodityName},
        </if>

        <if test="adWord != null and adWord != ''">
            AD_WORD = #{adWord},
        </if>

        <if test="adImageUrl != null and adImageUrl != ''">
            AD_IMAGE_URL = #{adImageUrl},
        </if>

        <if test="commodityPrice != null and commodityPrice != ''">
            COMMODITY_PRICE = #{commodityPrice},
        </if>

        <if test="payUrl != null and payUrl != ''">
            PAY_URL = #{payUrl},
        </if>

        <if test="addr != null and addr != ''">
            ADDR = #{addr},
        </if>

        <if test="startDate != null and startDate != ''">
            START_DATE = #{startDate},
        </if>

        <if test="endDate != null and endDate != ''">
             END_DATE = #{endDate},
        </if>

        <if test="status != null and status != ''">
             STATUS = #{status},
        </if>
        COMMODITY_ID = #{commodityId}

        WHERE COMMODITY_ID = #{commodityId}
    </update>
</mapper>
