<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyue.boss.api.mapper.CommodityMapper">

        <!-- 定义结果集，column表示sql查询列,property表示映射到实体的属性 -->
        <resultMap type="com.yuyue.boss.api.domain.Commodity" id="myCommodity">
            <id column="COMMODITY_ID" property="commodityId"/>
            <id column="ORDER_ID" property="orderId"/>
            <result column="CATEGORY" property="category"/>
            <result column="COMMODITY_NAME" property="commodityName"/>
            <result column="AD_WORD" property="adWord"/>
            <result column="AD_IMAGE_URL" property="adImageUrl"/>
            <result column="COMMODITY_PRICE" property="commodityPrice"/>
            <result column="PAY_URL" property="payUrl"/>
            <result column="ADDR" property="addr"/>
            <result column="SPOKESPERSON_ID" property="spokesPersonId"/>
            <result column="MERCHANT_ID" property="merchantId"/>
            <result column="APPLICATION_DATE" property="applicationTime"/>
            <result column="START_DATE" property="startDate"/>
            <result column="END_DATE" property="endDate"/>
            <result column="STATUS" property="status"/>
            <result column="VIDEO_ID" property="videoId"/>
          <association property="adPrice" javaType="com.yuyue.boss.api.domain.AdPrice">
                <!-- 关联条件Employee的dept_id对应着Department的id -->
                <id column="ID" property="priceId"/>
                <result column="AD_DURATION" property="adDuration"/>
                <result column="AD_TOTAL_PRICE" property="adTotalPrice"/>
                <result column="AD_DISCOUNT" property="adDiscount"/>
                <result column="CREATE_TIME" property="createTime"/>
           </association>
            <association property="appUser" javaType="com.yuyue.boss.api.domain.AppUser">
                <!-- 关联条件Employee的dept_id对应着Department的id -->
                <id column="userId" property="id"/>
                <result column="USER_NICK_NAME" property="nickName"/>
                <result column="USER_REAL_NAME" property="realName"/>
                <result column="HEADP_URL" property="headpUrl"/>
            </association>
            <association property="advertisement" javaType="com.yuyue.boss.api.domain.Advertisement">
                <!-- 关联条件Employee的dept_id对应着Department的id -->
                <id column="adId" property="id"/>
                <result column="merchantName" property="merchantName"/>
                <result column="merchantAddr" property="merchantAddr"/>
                <result column="phone" property="phone"/>

            </association>
        </resultMap>
    <select id="getCommodityInfo" parameterType="String" resultMap="myCommodity">
        SELECT
        c.COMMODITY_ID ,
        c.ORDER_ID,
        c.PRICE_ID ,
        c.CATEGORY ,
        c.COMMODITY_NAME ,
        c.AD_WORD ,
        c.AD_IMAGE_URL ,
        c.COMMODITY_PRICE ,
        c.PAY_URL ,
        c.ADDR ,
        c.SPOKESPERSON_ID ,
        c.MERCHANT_ID ,
        c.VIDEO_ID,
        c.STATUS ,
        DATE_FORMAT(c.APPLICATION_DATE ,'%Y-%m-%d %H:%i:%s') APPLICATION_DATE,
        DATE_FORMAT(c.START_DATE ,'%Y-%m-%d %H:%i:%s') START_DATE ,
        DATE_FORMAT(c.END_DATE ,'%Y-%m-%d %H:%i:%s') END_DATE ,

        p.ID "priceId",
        p.AD_DURATION ,
        p.AD_TOTAL_PRICE ,
        p.AD_DISCOUNT ,
        DATE_FORMAT(p.CREATE_TIME ,'%Y-%m-%d %H:%i:%s') CREATE_TIME,
        u.ID "userId",
        u.USER_NICK_NAME,
        u.USER_REAL_NAME ,
        u.HEADP_URL,
        a.id "adId",
        a.phone,
        a.merchantAddr,
        a.merchantName



        FROM
        yuyue_commodity c
        LEFT JOIN yuyue_commodity_price p ON c.PRICE_ID = p.ID
        LEFT JOIN yuyue_advertisement_info a ON c.MERCHANT_ID = a.userId
        LEFT JOIN yuyue_merchant u ON c.MERCHANT_ID = u.id
        where 1=1
        <if test="commodityId != null and commodityId != ''">
            and   c.COMMODITY_ID = #{commodityId}
        </if>

        <if test="commodityName != null and commodityName != ''">
            and   c.COMMODITY_NAME = #{commodityName}
        </if>

        <if test="category != null and category != ''">
            and  c.CATEGORY = #{category}
        </if>
        <if test="status != null and status != ''">
            and  c.STATUS = #{status}
        </if>
        <if test="startTime != null and endTime != ''">
            and c.APPLICATION_DATE  &gt; #{startTime}  and c.APPLICATION_DATE num <![CDATA[ < ]]> #{endTime}
        </if>

        ORDER BY   c.APPLICATION_DATE DESC

    </select>

    <select id="getReleaseCommodity" parameterType="String" resultMap="myCommodity">
        SELECT
        c.COMMODITY_ID ,
        c.ORDER_ID,
        c.PRICE_ID ,
        c.CATEGORY ,
        c.COMMODITY_NAME ,
        c.AD_WORD ,
        c.AD_IMAGE_URL ,
        c.COMMODITY_PRICE ,
        c.PAY_URL ,
        c.ADDR ,
        c.SPOKESPERSON_ID ,
        c.MERCHANT_ID ,
        c.VIDEO_ID,
        /* c.APPLICATION_DATE,
        c.START_DATE ,
        c.END_DATE ,*/
        DATE_FORMAT(c.APPLICATION_DATE ,'%Y-%m-%d %H:%i:%s') APPLICATION_DATE,
        DATE_FORMAT(c.START_DATE ,'%Y-%m-%d %H:%i:%s') START_DATE ,
        DATE_FORMAT(c.END_DATE ,'%Y-%m-%d %H:%i:%s') END_DATE ,
        c.STATUS
        FROM yuyue_commodity   c
        where 1=1
        <if test="videoId != null and videoId != ''">
            and  VIDEO_ID = #{videoId}
        </if>

        ORDER BY   c.APPLICATION_DATE DESC


    </select>

    <update id="updateCommodityInfo" parameterType="com.yuyue.boss.api.domain.Commodity" >
        UPDATE yuyue_commodity
        SET

        <if test="category != null and category != ''">
            CATEGORY = #{category},
        </if>

        <if test="commodityName != null and commodityName != ''">
            COMMODITY_NAME = #{commodityName},
        </if>

        <if test="adWord != null and adWord != ''">
            AD_WORD = #{adWord},
        </if>

        <if test="adImageUrl != null and adImageUrl != ''">
            AD_IMAGE_URL = #{adImageUrl},
        </if>

        <if test="commodityPrice != null and commodityPrice != ''">
            COMMODITY_PRICE = #{commodityPrice},
        </if>

        <if test="payUrl != null and payUrl != ''">
            PAY_URL = #{payUrl},
        </if>

        <if test="addr != null and addr != ''">
            ADDR = #{addr},
        </if>

        <if test="startDate != null and startDate != ''">
            START_DATE = #{startDate},
        </if>

        <if test="endDate != null and endDate != ''">
             END_DATE = #{endDate},
        </if>

        <if test="status != null and status != ''">
             STATUS = #{status},
        </if>

        <if test="videoId != null and videoId != ''">
            VIDEO_ID = #{videoId},
        </if>
        COMMODITY_ID = #{commodityId}

        WHERE COMMODITY_ID = #{commodityId}
    </update>
</mapper>
