<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyue.boss.api.mapper.LoginMapper" >

    <!--b.id = 'F9946CAE0D574FB1BDFDAE922F7821E9'-->
    <!-- 获取系统用户权限和个人信息 -->
    <select id="getAppUserMsg" resultType="com.yuyue.boss.api.domain.SystemUserVO" parameterType="String">
        SELECT b.id systemUserId,b.loginName,b.systemName,b.phone,b.`status` systemUserStatus,
            c.id systemPermissionId,c.`status` systemPermissionStatus,c.menuKey,c.saveKey,c.removeKey,
            DATE_FORMAT(c.CREATE_TIME ,'%Y-%m-%d %H:%i:%s') createTime,DATE_FORMAT(c.UPDATE_TIME ,'%Y-%m-%d %H:%i:%s') updateTime,
            d.id systemMeuId,d.`status` systemMenuStatus,d.menuAction,d.parentId systemMeuPantId,d.menuName,d.role
        FROM yuyue_system_user b,yuyue_system_menu d,yuyue_system_permission c
        WHERE b.id = c.systemUserId AND d.id = c.menuId
        <if test="loginName!=null and loginName!=''">  and b.loginName = #{loginName}  </if>
        <if test="password!=null and password!='' ">  and b.`password` = #{password}  </if>
          /*AND b.`status` = '10B' AND d.`status` = '10B' AND c.`status` = '10B'*/
        ORDER BY d.sort
    </select>

    <!-- 获取个人信息 -->
    <select id="getSystemUserMsg" resultType="com.yuyue.boss.api.domain.SystemUser" parameterType="String">
        SELECT b.*,
               DATE_FORMAT(b.UPDATE_TIME ,'%Y-%m-%d %H:%i:%s') updateTime,
               DATE_FORMAT(b.CREATE_TIME ,'%Y-%m-%d %H:%i:%s') createTime
        from yuyue_system_user b where 1=1
        <if test="loginName!=null and loginName!=''">and b.loginName like concat('%', #{loginName}, '%') </if>
        <if test="password!=null and password!='' ">  and b.`password` = #{password}  </if>
        <if test="id!=null and id!='' ">  and b.id = #{id} </if>
        <if test="phone!=null and phone!='' ">  and b.phone = #{phone} </if>
    </select>

    <!--获取权限关联菜单列表-->
    <select id="getMenuList" resultType="com.yuyue.boss.api.domain.SystemMenuVo" parameterType="String">
        SELECT d.menuName,d.id,d.menuAction,d.sort,c.menuKey
        FROM yuyue_system_user b,yuyue_system_permission c,yuyue_system_menu d
        WHERE b.id = c.systemUserId AND b.`status` = '10B' AND d.id = c.menuId AND d.`status` = '10B'
        <if test="loginName!=null and loginName!=''">  and b.loginName = #{loginName}  </if>
        <if test="password!=null and password!='' ">  and b.`password` = #{password}  </if>
        GROUP BY d.id  ORDER BY d.sort
    </select>

    <!--获取菜单-->
    <select id="getMenu" resultType="com.yuyue.boss.api.domain.SystemMenu" parameterType="String">
        SELECT *,DATE_FORMAT(d.CREATE_TIME ,'%Y-%m-%d %H:%i:%s') createTime
        ,DATE_FORMAT(d.UPDATE_TIME ,'%Y-%m-%d %H:%i:%s') updateTime
        FROM yuyue_system_menu d
        WHERE 1=1
        <if test=" id !=null and id!='' ">  and d.id = #{id}  </if>
        <if test=" sort !=0 ">  and d.sort = #{sort}  </if>
        <if test=" role !=null and role!='' ">  and d.role = #{role}  </if>
        <if test=" menuName !=null and menuName!='' ">and d.menuName like concat('%', #{menuName}, '%') </if>
        <if test="status!=null and status!=''"> and d.status = #{status} </if>
        ORDER BY d.sort,d.status
    </select>

    <!--修改菜单-->
    <update id="updateSystemMenu" parameterType="String">
        UPDATE yuyue_system_menu b
        <set>
            <if test=" upSort!=0 ">
                b.sort = #{upSort},
            </if>
            <if test="status!=null and status!=''">
                b.status = #{status},
            </if>
            <if test="menuName!=null and menuName!=''">
                b.menuName = #{menuName},
            </if>
        </set>
        WHERE 1=1
        <if test="id!=null and id!=''">
            and b.id = #{id}
        </if>
    </update>

    <!--获取权限-->
    <select id="getSystemPermission" resultType="com.yuyue.boss.api.domain.SystemPermission" parameterType="String">
        SELECT *,DATE_FORMAT(d.CREATE_TIME ,'%Y-%m-%d %H:%i:%s') createTime
        ,DATE_FORMAT(d.UPDATE_TIME ,'%Y-%m-%d %H:%i:%s') updateTime
        FROM yuyue_system_permission d
        WHERE 1=1
        <if test=" id !=null and id!='' ">  and d.id = #{id}  </if>
        <if test=" menuId!=null and menuId!='' ">  and d.menuId = #{menuId}  </if>
        <if test=" systemUserId !=null and systemUserId!='' ">  and d.systemUserId = #{systemUserId}  </if>
        ORDER BY d.CREATE_TIME
    </select>

    <!-- 获取系统用户 -->
    <select id="getSystemUser" resultType="com.yuyue.boss.api.domain.SystemUser" parameterType="String">
        SELECT b.*,
        DATE_FORMAT(b.UPDATE_TIME ,'%Y-%m-%d %H:%i:%s') updateTime,
        DATE_FORMAT(b.CREATE_TIME ,'%Y-%m-%d %H:%i:%s') createTime
        from yuyue_system_user b where 1=1
        <if test="status!=null and status!=''">  and b.status = #{status}  </if>
        <if test="systemName!=null and systemName!='' ">  and b.systemName = #{systemName}  </if>
        <if test="loginName!=null and loginName!='' "> and b.loginName like concat('%', #{loginName}, '%')</if>
        <if test="id!=null and id!='' ">  and b.id = #{id}  </if>
         order by b.CREATE_TIME
    </select>

    <!-- 修改系统用户 -->
    <update id="updateSystemUser" parameterType="String">
        UPDATE yuyue_system_user b
        <set>
            <if test="loginName!=null and loginName!=''">
                b.loginName = #{loginName},
            </if>
            <if test="password!=null and password!=''">
                b.password = #{password},
            </if>
            <if test="systemName!=null and systemName!=''">
                b.systemName = #{systemName},
            </if>
            <if test="phone!=null and phone!=''">
                b.phone = #{phone},
            </if>
            <if test="status!=null and status!=''">
                b.status = #{status},
            </if>
        </set>
        WHERE 1=1
        <if test="id!=null and id!=''">
            and b.id = #{id}
        </if>
    </update>

    <!-- 获取系统字典 -->
    <select id="getLookupCdeSystem" resultType="com.yuyue.boss.api.domain.LookupCde" parameterType="String">
        SELECT b.*
        from yuyue_system b where 1=1
        <if test="status!=null and status!=''">  and b.status = #{status}  </if>
        <if test="id!=null and id!=''">  and b.id = #{id}  </if>
        <if test="typeName!=null and typeName!='' ">  and b.typeName like concat('%', #{typeName}, '%')</if>
        order by b.sort
    </select>

    <!-- 修改系统字典 -->
    <update id="updateLookupCde" parameterType="String">
        UPDATE yuyue_system b
        <set>
            <if test="typeName!=null and typeName!=''">
                b.typeName = #{typeName},
            </if>
            <if test="status!=null and status!=''">
                b.status = #{status},
            </if>
        </set>
        WHERE 1=1
        <if test="id!=null and id!=''">
            and b.id = #{id}
        </if>
    </update>

    <!-- 获取系统字典下级 -->
    <select id="getLookupCdeList" resultType="com.yuyue.boss.api.domain.LookupCdeConfig" parameterType="String">
        SELECT b.*
        from yuyue_system_config b where 1=1
        <if test="id!=null and id!=''">  and b.id = #{id}  </if>
        <if test="systemId!=null and systemId!=''">  and b.systemId = #{systemId}  </if>
        order by b.createTime
    </select>

    <!-- 修改系统字典下级 -->
    <update id="updateLookupCdeList" parameterType="String">
        UPDATE yuyue_system_config b
        <set>
            <if test="type!=null and type!=''">
                b.type = #{type},
            </if>
            <if test="status!=null and status!=''">
                b.status = #{status},
            </if>
        </set>
        WHERE 1=1
        <if test="id!=null and id!=''">
            and b.id = #{id}
        </if>
    </update>

    <!-- 获取版本列表 -->
    <select id="getVersionList" resultType="com.yuyue.boss.api.domain.AppVersion" parameterType="String">
        SELECT b.id appVersionId, b.system_type systemType,b.version_no versionNo,b.update_user updateUser,
               b.status,b.number,b.program_description programDescription,
        DATE_FORMAT(b.UPDATE_TIME ,'%Y-%m-%d %H:%i:%s') updateTime,
        DATE_FORMAT(b.CREATE_TIME ,'%Y-%m-%d %H:%i:%s') createTime
        from yuyue_app_version b where 1=1
        <if test="versionNo!=null and versionNo!=''">and b.version_no like concat('%', #{versionNo}, '%') </if>
        <if test="systemType!=null and systemType!='' ">  and b.`system_type` = #{systemType}  </if>
        <if test="appVersionId!=null and appVersionId!='' ">  and b.id = #{appVersionId}  </if>
        order by b.number
    </select>

    <!-- 修改版本 -->
    <update id="updateAppVersion" parameterType="String">
        UPDATE yuyue_app_version b
        <set>
            <if test="versionNo!=null and versionNo!=''">
                b.version_no = #{versionNo},
            </if>
            <if test="systemType!=null and systemType!=''">
                b.system_type = #{systemType},
            </if>
            <if test="programDescription!=null and programDescription!=''">
                b.program_description = #{programDescription},
            </if>
            <if test="status!=null and status!=''">
                b.status = #{status},
            </if>
        </set>
        WHERE 1=1
        <if test="appVersionId!=null and appVersionId!=''">
            and b.id = #{appVersionId}
        </if>
    </update>

    <!--获取公告列表-->
    <select id="getJPushList" resultType="com.yuyue.boss.api.domain.JPush" parameterType="String">
        SELECT d.*,DATE_FORMAT(d.CREATE_TIME ,'%Y-%m-%d %H:%i:%s') createTime
        FROM yuyue_jpush d
        WHERE 1=1
        <if test=" id !=null and id!='' ">  and d.id = #{id}  </if>
        <if test=" msgTitle !=null and msgTitle!='' ">  and d.msgTitle like concat('%', #{msgTitle}, '%')  </if>
        <if test=" extras!=null and extras!='' ">  and d.extras = #{extras}  </if>
        <if test=" startTime !=null and startTime!='' ">
            <![CDATA[
				and	DATE_FORMAT(d.CREATE_TIME, '%Y-%m-%d %H:%i:%s') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d %H:%i:%s')
			]]>
        </if>
        <if test=" endTime !=null and endTime!='' ">
            <![CDATA[
				and	DATE_FORMAT(d.CREATE_TIME, '%Y-%m-%d %H:%i:%s') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d %H:%i:%s')
			]]>
        </if>
        ORDER BY d.CREATE_TIME
    </select>

    <!--获取APP菜单列表-->
    <select id="getAPPMenuList" resultType="com.yuyue.boss.api.domain.VideoCategory" parameterType="String">
        SELECT d.id,d.category ,DATE_FORMAT(d.upload_time ,'%Y-%m-%d %H:%i:%s') uploadTime,d.url,d.description,
               d.category_no categoryNo,d.`status`
        FROM yuyue_category d
        where 1=1 /*`status` = '10B' */
        <if test=" status !=null and status!='' ">  and d.`status` = #{status}  </if>
        <if test=" id !=null and id!='' ">  and d.`id` = #{id}  </if>
        <if test=" number!=0 ">  and d.`category_no` = #{number}  </if>
        <if test=" category !=null and category!='' ">  and d.category like concat('%', #{category}, '%')  </if>
        ORDER BY category_no
    </select>

    <!-- 修改APP菜单 -->
    <update id="updateAPPMenu" parameterType="String">
        UPDATE yuyue_category b
        <set>
            <if test="category!=null and category!=''">
                b.category = #{category},
            </if>
            <if test="status!=null and status!=''">
                b.status = #{status},
            </if>
            <if test=" sort!=0 ">
                b.category_no = #{sort},
            </if>
            <if test="url!=null and url!=''">
                b.url = #{url},
            </if>
        </set>
        WHERE 1=1
        <if test="id!=null and id!=''">
            and b.id = #{id}
        </if>
    </update>

</mapper>