<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyue.boss.api.mapper.LoginMapper" >
    <!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <resultMap id="BaseResultMap" type="com.yuyue.boss.api.domain.SystemUser">
        <id column="ID" property="id" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="getAppUserMsg" resultType="com.yuyue.boss.api.domain.SystemUser" parameterType="String">
        SELECT id,user_no userNo,user_nick_name nickName,user_real_name realName,id_type idType,id_card idCard,phone,sex,city,jpushName,password,salt,
            user_status userStatus,total ,ADDR_DETAIL addrDetail,HEADP_URL headpUrl,USER_TYPE userType,cardFUrl,cardZUrl,userUrl,
        ATTENTION_TOTAL attentionTotal,LIKE_TOTAL likeTotal,COMMENT_TOTAL commentTotal,education ,wechat ,signature ,
            DATE_FORMAT(create_time ,'%Y-%m-%d %H:%i:%s') createTime,DATE_FORMAT(update_time ,'%Y-%m-%d %H:%i:%s') updateTime
            FROM yuyue_merchant
            where 1=1
            <choose>
                <when test="phone!=null and phone!=''">  and phone=#{phone}  </when>
                <when test="id!=null and id!='' ">  and id=#{id}  </when>
                <when test="password!=null and password!='' ">  and password=#{password}  </when>

            </choose>
         LIMIT 1

    </select>


</mapper>