<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyue.boss.api.mapper.LoginMapper" >

    <!--b.id = 'F9946CAE0D574FB1BDFDAE922F7821E9'-->
    <!-- 获取系统用户权限和个人信息 -->
    <select id="getAppUserMsg" resultType="com.yuyue.boss.api.domain.UserVO" parameterType="String">
        SELECT b.id systemUserId,b.loginName,b.realName,DATE_FORMAT(b.lastLoginTime ,'%Y-%m-%d %H:%i:%s') lastLoginTime,b.phone,b.`status` systemUserStatus,b.`password`,
            c.id systemRoleId,c.`status` systemRoleStatus,
            d.id systemMeuId,d.`status` systemMenuStatus,d.menuAction,d.menuCode,d.parentId systemMeuPantId,d.menuName,
            h.id systemPermissionId,h.permissionName,h.permissionKey,h.parentId systemMeuPermissionPantId,h.permissionCode,h.permissionAction, h.`status` systemPermissionStatus
        FROM yuyue_system_user b,yuyue_system_role c,yuyue_system_menu d,yuyue_system_permission h
        WHERE b.id = c.systemUserId
            AND b.loginName = 'admin' AND b.`password` = '123456'
            AND b.`status` = '10B' AND d.id = c.menuId AND d.`status` = '10B'
            AND h.id = c.permissionId AND h.`status` = '10B' AND c.`status` = '10B'
        ORDER BY h.permissionCode
    </select>

    <!-- 获取个人信息 -->
    <select id="getSystemUserMsg" resultType="com.yuyue.boss.api.domain.SystemUser" parameterType="String">
        SELECT b.id,b.loginName,b.realName,DATE_FORMAT(b.lastLoginTime ,'%Y-%m-%d %H:%i:%s') lastLoginTime,b.phone,b.`status`,b.`password`
        from yuyue_system_user b where 1=1
        <if test="loginName!=null and loginName!=''">  and b.loginName = #{loginName}  </if>
        <if test="password!=null and password!='' ">  and b.`password` = #{password}  </if>
        <if test="id!=null and id!='' ">  and b.id = #{id} </if>
        <if test="phone!=null and phone!='' ">  and b.phone = #{phone} </if>
        LIMIT 1
    </select>

    <!--获取权限关联菜单列表-->
    <select id="getMenuList" resultType="com.yuyue.boss.api.domain.SystemMenu" parameterType="String">
        SELECT d.menuName,d.id,d.menuAction,d.sort
        FROM yuyue_system_user b,yuyue_system_role c,yuyue_system_menu d
        WHERE b.id = c.systemUserId AND b.`status` = '10B' AND d.id = c.menuId AND d.`status` = '10B'
        <if test="loginName!=null and loginName!=''">  and b.loginName = #{loginName}  </if>
        <if test="password!=null and password!='' ">  and b.`password` = #{password}  </if>
        GROUP BY d.id  ORDER BY d.sort
    </select>

    <!--获取菜单-->
    <select id="getMenu" resultType="com.yuyue.boss.api.domain.SystemMenu" parameterType="String">
        SELECT *,DATE_FORMAT(d.CREATE_TIME ,'%Y-%m-%d %H:%i:%s') createTime
        ,DATE_FORMAT(d.UPDATE_TIME ,'%Y-%m-%d %H:%i:%s') updateTime
        FROM yuyue_system_menu d
        WHERE 1=1
        <if test=" id !=null and id!='' ">  and d.id = #{id}  </if>
        <if test=" sort !=0 ">  and d.sort = #{sort}  </if>
        ORDER BY d.sort
    </select>

    <!--修改菜单-->
    <update id="updateSystemMenu" parameterType="String">
        UPDATE yuyue_system_menu b
        <set>
            <if test=" upSort!=0 ">
                b.sort = #{upSort},
            </if>
            <if test="status!=null and status!=''">
                b.status = #{status},
            </if>
        </set>
        WHERE 1=1
        <if test="id!=null and id!=''">
            and b.id = #{id}
        </if>
    </update>

    <!--获取权限-->
    <select id="getSystemPermission" resultType="com.yuyue.boss.api.domain.SystemMenu" parameterType="String">
        SELECT *,DATE_FORMAT(d.CREATE_TIME ,'%Y-%m-%d %H:%i:%s') createTime
        ,DATE_FORMAT(d.UPDATE_TIME ,'%Y-%m-%d %H:%i:%s') updateTime
        FROM yuyue_system_menu d
        WHERE 1=1
        <if test=" id !=null and id!='' ">  and d.id = #{id}  </if>
        <if test=" sort !=0 ">  and d.sort = #{sort}  </if>
        ORDER BY d.sort
    </select>

</mapper>