<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyue.boss.api.mapper.OutMoneyMapper" >

    <!-- 获取提现记录 -->
    <select id="getOutMoneyList" resultType="com.yuyue.boss.api.domain.OutMoney" parameterType="String">
        SELECT b.*,c.USER_NICK_NAME userName,
                DATE_FORMAT(b.CREATE_TIME, '%Y-%m-%d %H:%i:%s') createTime,
                DATE_FORMAT(b.COMPLETE_TIME, '%Y-%m-%d %H:%i:%s') completeTime
        from yuyue_out_money b,yuyue_merchant c where 1=1 and b.merchantId = c.ID
        <if test="realName!=null and realName!=''">and b.realName like concat('%', #{realName}, '%') </if>
        <if test="userName!=null and userName!=''">and c.USER_NICK_NAME like concat('%', #{userName}, '%') </if>
        <if test="status!=null and status!='' ">  and b.`status` = #{status}  </if>
        <if test="outNo!=null and outNo!='' ">  and b.`outNo` = #{outNo}  </if>
        <if test="tradeType!=null and tradeType!='' ">  and b.`tradeType` = #{tradeType}  </if>
        <if test="id!=null and id!='' ">  and b.id = #{id}  </if>
        <if test=" startTime !=null and startTime!='' ">
            <![CDATA[ and	DATE_FORMAT(b.CREATE_TIME, '%Y-%m-%d %H:%i:%s') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d %H:%i:%s') ]]>
        </if>
        <if test=" endTime !=null and endTime!='' ">
            <![CDATA[ and	DATE_FORMAT(b.CREATE_TIME, '%Y-%m-%d %H:%i:%s') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d %H:%i:%s') ]]>
        </if>
        order by b.CREATE_TIME desc
    </select>

    <!-- 修改提现记录 -->
    <update id="updateOutMoney" parameterType="String">
        UPDATE yuyue_out_money b
        <set>
            <if test="tradeType!=null and tradeType!=''">
                b.tradeType = #{tradeType},
            </if>
            <if test="money!=null and money!=''">
                b.money = #{money},
            </if>
            <if test="status!=null and status!=''">
                b.status = #{status},
            </if>
            <if test="realName!=null and realName!=''">
                b.realName = #{realName},
            </if>
        </set>
        WHERE 1=1
        <if test="id!=null and id!=''">
            and b.id = #{id}
        </if>
    </update>

</mapper>