<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyue.boss.api.mapper.SendMapper" >

    <!--获取公告列表-->
    <select id="getJPushList" resultType="com.yuyue.boss.api.domain.JPush" parameterType="String">
        SELECT d.*,DATE_FORMAT(d.CREATE_TIME ,'%Y-%m-%d %H:%i:%s') createTime
        FROM yuyue_jpush d
        WHERE 1=1
        <if test=" id !=null and id!='' ">  and d.id = #{id}  </if>
        <if test=" msgTitle !=null and msgTitle!='' ">  and d.msgTitle like concat('%', #{msgTitle}, '%')  </if>
        <if test=" extras!=null and extras!='' ">  and d.extras = #{extras}  </if>
        <if test=" startTime !=null and startTime!='' ">
            <![CDATA[
				and	DATE_FORMAT(d.CREATE_TIME, '%Y-%m-%d %H:%i:%s') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d %H:%i:%s')
			]]>
        </if>
        <if test=" endTime !=null and endTime!='' ">
            <![CDATA[
				and	DATE_FORMAT(d.CREATE_TIME, '%Y-%m-%d %H:%i:%s') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d %H:%i:%s')
			]]>
        </if>
        ORDER BY d.CREATE_TIME desc
    </select>

    <!--获取库存不足的商品-->
    <select id="findShopId"  parameterType="String" resultType="com.yuyue.boss.api.domain.MallShop">
        SELECT s.commodity_name commodityName FROM yuyue_mall_shop s,yuyue_mall_shop_commodity b
        where s.status ='10B' and b.status ='10B' and b.commodity_reserve = '0'
        <if test="shopid != null and shopid != ''">
          and b.shop_id = #{shopid}  AND s.shop_id = #{shopid}
        </if>
        order by s.create_time desc limit 1
    </select>

    <!--获取商家信息-->
    <select id="findOrderItemId"  parameterType="String" resultType="com.yuyue.boss.api.domain.OrderItem">
        SELECT s.consumer_id consumerId FROM yuyue_mall_order_item s left join yuyue_order b on s.order_id = b.id
        where b.status ='10B' and s.status = '10A'
        <if test="orderId != null and orderId != ''">
            and s.order_id = #{orderId} and b.id = #{orderId}
        </if>
        order by s.create_time desc
    </select>

</mapper>