<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyue.boss.api.mapper.VideoMapper" >
    <resultMap type="com.yuyue.boss.api.domain.UploadFile" id="myUploadFile">
        <id column="id" property="id"/>
        <result column="authorId" property="authorId"/>
        <result column="UPLOAD_TIME" property="uploadTime"/>
        <result column="filesName" property="filesName"/>
        <result column="filesPath" property="filesPath"/>
        <result column="filesType" property="filesType"/>
        <result column="filesMD5" property="filesMD5"/>
        <result column="fileSize" property="fileSize"/>
        <result column="description" property="description"/>
        <result column="playAmount" property="playAmount"/>
        <result column="commentAmount" property="commentAmount"/>
        <result column="likeAmount" property="likeAmount"/>
        <result column="attentionAmount" property="attentionAmount"/>
        <result column="duration" property="duration"/>
        <result column="title" property="title"/>
        <result column="videoAddress" property="videoAddress"/>
        <result column="categoryId" property="categoryId"/>
        <result column="status" property="status"/>
        <association property="appUser" javaType="com.yuyue.boss.api.domain.AppUser">
            <!-- 关联条件Employee的dept_id对应着Department的id -->
            <id column="userId" property="id"/>
            <result column="USER_NICK_NAME" property="nickName"/>
            <result column="HEADP_URL" property="headpUrl"/>
            <result column="ATTENTION_TOTAL" property="attentionTotal"/>
            <result column="LIKE_TOTAL" property="likeTotal"/>
            <result column="COMMENT_TOTAL" property="commentTotal"/>
        </association>
    </resultMap>

    <select id="getVideoInfoList" resultMap="myUploadFile" parameterType="String">
        select
        b.id ,DATE_FORMAT(b.UPLOAD_TIME,'%Y-%m-%d %H:%i:%s') UPLOAD_TIME,b.filesName,b.filesPath,
        b.filesType,b.fileSize,b.authorId,b.description,b.playAmount,b.commentAmount,b.likeAmount,b.attentionAmount,
        b.duration,b.title,b.videoAddress,b.categoryId,b.status,
        m.ID "userId",m.USER_NICK_NAME,m.HEADP_URL,m.ATTENTION_TOTAL,m.LIKE_TOTAL,m.COMMENT_TOTAL
        from ${tableName} b
        left join yuyue_merchant m on b.authorId = m.ID
        WHERE  1=1 and b.filesType = 'video' and b.status ='10A'
            <choose>
                <when test="id!=null and id!=''">
                  and b.id=#{id}
                </when>
            </choose>
            <choose>
                <when test="status!=null and status!=''">
                  and   b.USER_STATUS = #{status}
                </when>
            </choose>

            ORDER BY b.UPLOAD_TIME DESC
            <choose>
                <when test="begin >= 0 and  limit > 0 ">
                   LIMIT #{begin},#{limit}
                </when>
            </choose>


    </select>


    <select id="searchVideoInfo" parameterType="String" resultMap="myUploadFile">
        SELECT
        b.id ,DATE_FORMAT(b.UPLOAD_TIME,'%Y-%m-%d %H:%i:%s') UPLOAD_TIME,b.filesName,b.filesPath,
        b.filesType,b.fileSize,b.authorId,b.description,b.playAmount,b.commentAmount,b.likeAmount,b.attentionAmount,
        b.duration,b.title,b.videoAddress,b.categoryId,b.status
        FROM ${tableName} b where 1=1
        <if test="categoryId != null and categoryId != ''">
            and b.categoryId = #{categoryId}
        </if>
        <if test="status != null and status != ''">
            and  b.status = #{status}
        </if>
        <if test="title != null and title != ''">
            and CONCAT(b.title) like concat('%', #{title}, '%')
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and  UPLOAD_TIME BETWEEN  #{startTime}  AND  #{endTime}
        </if>
        ORDER BY b.UPLOAD_TIME DESC
        LIMIT #{begin},#{limit}
    </select>


    <update id="updateVideo"  parameterType="com.yuyue.boss.api.domain.UploadFile">
    UPDATE ${tableName}
    set
    <if test="status != null and status != ''">
        status= #{status},
    </if>
        id=#{id}

        WHERE id=#{id};
    </update>
</mapper>