<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyue.boss.api.mapper.VideoMapper" >
    <resultMap type="com.yuyue.boss.api.domain.UploadFile" id="myUploadFile">
        <id column="id" property="id"/>
        <result column="authorId" property="authorId"/>
        <result column="UPLOAD_TIME" property="uploadTime"/>
        <result column="filesName" property="filesName"/>
        <result column="filesPath" property="filesPath"/>
        <result column="filesType" property="filesType"/>
        <result column="filesMD5" property="filesMD5"/>
        <result column="fileSize" property="fileSize"/>
        <result column="description" property="description"/>
        <result column="playAmount" property="playAmount"/>
        <result column="commentAmount" property="commentAmount"/>
        <result column="likeAmount" property="likeAmount"/>
        <result column="attentionAmount" property="attentionAmount"/>
        <result column="duration" property="duration"/>
        <result column="title" property="title"/>
        <result column="videoAddress" property="videoAddress"/>
        <result column="categoryId" property="categoryId"/>
        <result column="status" property="status"/>
        <association property="appUser" javaType="com.yuyue.boss.api.domain.AppUser">
            <!-- 关联条件Employee的dept_id对应着Department的id -->
            <id column="userId" property="id"/>
            <result column="USER_NICK_NAME" property="nickName"/>
            <result column="HEADP_URL" property="headpUrl"/>
            <result column="ATTENTION_TOTAL" property="attentionTotal"/>
            <result column="LIKE_TOTAL" property="likeTotal"/>
            <result column="COMMENT_TOTAL" property="commentTotal"/>
        </association>
    </resultMap>

    <select id="getVideoInfoList" resultMap="myUploadFile">
        SELECT total.* FROM
        (
        SELECT
                b.id , UPLOAD_TIME,b.filesName,b.filesPath,
                b.filesType,b.fileSize,b.authorId,b.description,b.playAmount,b.commentAmount,b.likeAmount,b.attentionAmount,
                b.duration,b.title,b.videoAddress,b.categoryId,b.status,
                m.ID "userId",m.USER_NICK_NAME,m.HEADP_URL,m.ATTENTION_TOTAL,m.LIKE_TOTAL,m.COMMENT_TOTAL
                from yuyue_upload_file_0 b
                left join yuyue_merchant m on b.authorId = m.ID

        WHERE
              1=1 and b.filesType = 'video'

        UNION
        SELECT
                b1.id ,b1.UPLOAD_TIME,b1.filesName,b1.filesPath,
                b1.filesType,b1.fileSize,b1.authorId,b1.description,b1.playAmount,b1.commentAmount,b1.likeAmount,b1.attentionAmount,
                b1.duration,b1.title,b1.videoAddress,b1.categoryId,b1.status,
                m1.ID "userId",m1.USER_NICK_NAME,m1.HEADP_URL,m1.ATTENTION_TOTAL,m1.LIKE_TOTAL,m1.COMMENT_TOTAL
                from yuyue_upload_file_1 b1
                left join yuyue_merchant  m1 on b1.authorId = m1.ID

        WHERE
             1=1 and b1.filesType = 'video'  ) total

        WHERE 1=1
        ORDER BY playAmount DESC

    </select>


    <select id="searchVideoInfo" parameterType="String" resultMap="myUploadFile">
        SELECT total.* FROM
        (
        SELECT
        b.id , UPLOAD_TIME,b.filesName,b.filesPath,
        b.filesType,b.fileSize,b.authorId,b.description,b.playAmount,b.commentAmount,b.likeAmount,b.attentionAmount,
        b.duration,b.title,b.videoAddress,b.categoryId,b.status,
        m.ID "userId",m.USER_NICK_NAME,m.HEADP_URL,m.ATTENTION_TOTAL,m.LIKE_TOTAL,m.COMMENT_TOTAL
        from yuyue_upload_file_0 b
        left join yuyue_merchant m on b.authorId = m.ID

        WHERE
        1=1 and b.filesType = 'video'

        UNION
        SELECT
        b1.id ,b1.UPLOAD_TIME,b1.filesName,b1.filesPath,
        b1.filesType,b1.fileSize,b1.authorId,b1.description,b1.playAmount,b1.commentAmount,b1.likeAmount,b1.attentionAmount,
        b1.duration,b1.title,b1.videoAddress,b1.categoryId,b1.status,
        m1.ID "userId",m1.USER_NICK_NAME,m1.HEADP_URL,m1.ATTENTION_TOTAL,m1.LIKE_TOTAL,m1.COMMENT_TOTAL
        from yuyue_upload_file_1 b1
        left join yuyue_merchant  m1 on b1.authorId = m1.ID

        WHERE
        1=1 and b1.filesType = 'video'  ) total

        WHERE  1=1
        <if test="id != null and id != ''">
            and total.id = #{id}
        </if>
        <if test="categoryId != null and categoryId != ''">
            and total.categoryId = #{categoryId}
        </if>
        <if test="status != null and status != ''">
            and  total.status = #{status}
        </if>
        <if test="title != null and title != ''">
            and CONCAT(total.title) like concat('%', #{title}, '%')
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and  UPLOAD_TIME >  #{startTime}  AND  UPLOAD_TIME  <![CDATA[ < ]]> #{endTime}
        </if>
        ORDER BY total.UPLOAD_TIME DESC

    </select>

    <insert id="insertVideo" parameterType="com.yuyue.boss.api.domain.UploadFile">
        INSERT INTO ${tableName}
            (id,authorId,categoryId,title,filesName,filesPath,description,videoAddress,filesType,status)
        value
            (#{id},#{authorId},#{categoryId},#{title},#{filesName},#{filesPath},#{description},#{videoAddress},"video","10B")
    </insert>
    <update id="updateVideo"  parameterType="String">
        UPDATE ${tableName}
        set
        <if test="status != null and status != ''">
            status= #{status},
        </if>
        id=#{id}

        WHERE id=#{id};
    </update>

    <delete id="deleteVideoById" parameterType="String">

        DELETE FROM  ${tableName} WHERE id = #{id}
    </delete>


</mapper>