<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuyue.boss.api.mapper.YuYueSiteMapper">

    <resultMap type="com.yuyue.boss.api.domain.YuYueSite" id="myYuYueSite">
        <id column="sid" property="id"/>
        <result column="title" property="title"/>
        <result column="imageUrl" property="imageUrl"/>
        <result column="siteAddr" property="siteAddr"/>
        <result column="mainPerson" property="mainPerson"/>
        <result column="personTotal" property="personTotal"/>
        <result column="personSum" property="personSum"/>
        <result column="ADMISSION_TIME" property="admissionTime"/>
        <result column="START_TIME" property="startTime"/>
        <result column="END_TIME" property="endTime"/>
        <result column="jPushStatus" property="jPushStatus"/>
        <result column="qrCodePath" property="qrCodePath"/>
        <result column="status" property="status"/>
        <collection property="siteShow" ofType="com.yuyue.boss.api.domain.SiteShow">
            <!-- 关联条件Employee的dept_id对应着Department的id -->
            <id column="showsId" property="id"/>
            <result column="showName" property="showName"/>
            <result column="category" property="category"/>
            <result column="showPersons" property="showPersons"/>
            <result column="SHOW_TIME" property="showTime"/>

        </collection>
    </resultMap>

    <!-- 获取全部现场信息  或  查询 现场详情 -->
    <select id="getYuYueSiteInfo" parameterType="String" resultMap="myYuYueSite">
        SELECT
        site.id "sid",site.title,site.imageUrl,site.siteAddr,site.mainPerson,site.personTotal,site.personSum,
        site.qrCodePath,site.jPushStatus,site.status,
        DATE_FORMAT(site.ADMISSION_TIME ,'%Y-%m-%d %H:%i:%s') ADMISSION_TIME,
        DATE_FORMAT(site.START_TIME ,'%Y-%m-%d %H:%i:%s') START_TIME,
        DATE_FORMAT(site.END_TIME ,'%Y-%m-%d %H:%i:%s') END_TIME

      <if test="id != null and id != ''">
            ,shows.id showsId,shows.showName,shows.category,shows.showPersons,shows.SHOW_TIME
            FROM
            yuyue_site site
            LEFT JOIN yuyue_site_show shows ON site.id = shows.siteId
            WHERE
            site.id =  #{id}
        </if>
        <if test="id == null or id == ''">
            FROM
            yuyue_site site

        </if>

        ORDER BY site.START_TIME DESC


    </select>

    <select id="searchYuYueSiteInfo" parameterType="String" resultMap="myYuYueSite">
        SELECT
        site.id "sid",site.title,site.imageUrl,site.siteAddr,site.mainPerson,site.personTotal,site.personSum,
        site.qrCodePath,site.jPushStatus,site.status,
        DATE_FORMAT(site.ADMISSION_TIME ,'%Y-%m-%d %H:%i:%s') ADMISSION_TIME,
        DATE_FORMAT(site.START_TIME ,'%Y-%m-%d %H:%i:%s') START_TIME,
        DATE_FORMAT(site.END_TIME ,'%Y-%m-%d %H:%i:%s') END_TIME
        FROM yuyue_site site where 1=1
        <if test="siteAddr != null and siteAddr != ''">
            and CONCAT(siteAddr) like concat('%', #{siteAddr}, '%')
        </if>
        <if test="status != null and status != ''">
            and  status = #{status}
        </if>
        <if test="jPushStatus != null and jPushStatus != ''">
            and  jPushStatus = #{jPushStatus}
        </if>
        <if test="mainPerson != null and mainPerson != ''">
            and CONCAT(mainPerson) like concat('%', #{mainPerson}, '%')
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and START_TIME  &gt;=#{startTime}  AND END_TIME  <![CDATA[ < ]]> #{endTime}
        </if>
        ORDER BY START_TIME DESC

    </select>

    <insert id="insertYuYueSite" parameterType = "com.yuyue.boss.api.domain.YuYueSite">
        INSERT INTO
        yuyue_site (id,title,imageUrl,siteAddr,mainPerson,personTotal,qrCodePath,ADMISSION_TIME,START_TIME,END_TIME,status,jPushStatus)
        VALUES
        (#{id},#{title},#{imageUrl},#{siteAddr},#{mainPerson},
        #{personTotal},#{qrCodePath},#{admissionTime},
        #{startTime},#{endTime},#{status},#{jPushStatus})
    </insert>

    <delete id="deleteYuYueSiteById" parameterType="String">
        DELETE FROM yuyue_site where id = #{id}
    </delete>

    <update id="updateYuYueSite"  parameterType="com.yuyue.boss.api.domain.YuYueSite">
        UPDATE yuyue_site
        set

        <if test="title != null and title != ''">
            title= #{title},
        </if>

        <if test="imageUrl != null and imageUrl != ''">
            imageUrl = #{imageUrl},
        </if>

        <if test="siteAddr != null and siteAddr != ''">
            siteAddr = #{siteAddr},
        </if>

        <if test="mainPerson != null and mainPerson != ''">
            mainPerson = #{mainPerson},
        </if>

        <if test="personTotal != null and personTotal != ''">
            personTotal = #{personTotal},
        </if>

        <if test="personSum != null and personSum != ''">
            personSum = #{personSum},
        </if>

        <if test="qrCodePath != null and qrCodePath != ''">
            qrCodePath = #{qrCodePath},
        </if>

        <if test="admissionTime != null and admissionTime != ''">
            ADMISSION_TIME = #{admissionTime},
        </if>

        <if test="startTime != null and startTime != ''">
            START_TIME = #{startTime},
        </if>

        <if test="endTime != null and endTime != ''">
            END_TIME = #{endTime},
        </if>

        <if test="jPushStatus != null and jPushStatus != ''">
              jPushStatus = #{jPushStatus},
        </if>

        <if test=" status != null and status != ''">
            status = #{status},
        </if>

        id=#{id}

        WHERE id=#{id};
    </update>

</mapper>